@font-face {
  font-family: northernSoul;
  src: url(NorthernSoul-Caps.ttf);
}

body {
  margin: 0;
  font-family: northernSoul;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
