@supports (grid-area: auto) {
  .wolf-app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "sun-moon title reset"
      "question tally wolf-result"
      "left-grass center-grass right-grass";
    height: 100vh;
  }

  .sun-moon {
    grid-area: sun-moon;
    align-self: center;
    justify-self: center;
  }

  .sun-moon > img {
    width: 100%;
    height: 200px;
    cursor: pointer;
  }

  .title {
    grid-area: title;
    align-self: center;
    justify-self: center;
  }

  .compact-title {
    grid-area: compact-title;
    align-self: center;
    justify-self: center;
    display: none;
  }

  .reset {
    grid-area: reset;
    align-self: center;
    justify-self: center;
  }

  .reset > img {
    cursor: pointer;
  }

  .question {
    grid-area: question;
    align-self: top;
    justify-self: center;
  }

  .tally {
    grid-area: tally;
    align-self: top;
    justify-self: center;
  }

  .wolf-result {
    grid-area: wolf-result;
    align-self: top;
    justify-self: center;
  }

  .left-grass {
    grid-area: left-grass;
  }

  .center-grass {
    grid-area: center-grass;
  }

  .right-grass {
    grid-area: right-grass;
  }

  .section-title {
    font-size: 4em;
    margin-top: auto;
    margin-bottom: auto;
  }

  .section-sub-title {
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
  }

  .answer {
    font-size: 2em;
    font-weight: lighter;
    cursor: pointer;
  }

  @media screen and (max-width: 1142px) {
    .wolf-app {
      grid-template-areas:
        "sun-moon compact-title reset"
        "question tally wolf-result"
        "left-grass center-grass right-grass";
    }

    .title {
      display: none;
    }

    .compact-title {
      display: grid;
    }
  }
}
