.wolf-app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "sun-moon . reset"
    "question tally wolf-result"
    "footer footer footer";
  height: 100vh;
}

.sun-moon {
  grid-area: sun-moon;
  align-self: center;
  justify-self: center;
}

.reset {
  grid-area: reset;
  align-self: center;
  justify-self: center;
}

.question {
  grid-area: question;
}

.tally {
  grid-area: tally;
}

.wolf-result {
  grid-area: wolf-result;
}

.footer {
  grid-area: footer;
  align-self: center;
  justify-self: center;
}
